:root {
  --small-font-size: 11px;
  --normal-font-size: 14px;
  --large-font-size: 15px;
  --xlarge-font-size: 20px;
  --xxlarge-font-size: 24px;
  --xxxlarge-font-size: 45px;
  --lighter-gray: #f7f7f7;
  --blue: #3f79db;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
}

a:visited,
a:link {
  color: black;
  text-decoration: none;
}

.blind {
  width: 0;
  height: 0;
  overflow: hidden;
}

.hidden {
  display: none;
}

.clear {
  clear: both;
}

strong {
  font-size: var(--xlarge-font-size);
  font-weight: bold;
}
