#header {
  height: 110px;
}
.lnb {
  text-align: right;
}
.lnb li {
  display: inline;
  font-size: var(--small-font-size);
  padding-right: 10px;
  border-right: 1px solid lightgray;
}
.lnb li:last-child {
  border-right: none;
}
.logo {
  position: absolute;
  z-index: 10;
  top: 30px;
}
.logo img {
  height: 62px;
  width: 215px;
}
.search {
  position: relative;
  top: 22px;
}
.inner_search {
  border-bottom: 4px solid red;
  display: inline-block;
  margin-left: 218px;
  height: 30px;
}
.inner_search * {
  display: inline;
  height: 100%;
}
.inner_search input[type="text"] {
  width: 370px;
  border: none;
  outline: none;
  font-size: var(--large-font-size);
  font-weight: bold;
  position: relative;
  bottom: 10px;
  background: none;
}
.inner_search input[type="image"] {
  width: 30px;
}
